# Import Libraries

In [1]:
import pandas as pd

# Data Paths

In [2]:
!ls data/

 clients.csv		       materials.csv   transactions.parquet
'hack data description.xlsx'   plants.csv

In [3]:
clients_path = './data/clients.csv'
materials_path = './data/materials.csv'
plants_path = './data/plants.csv'
transactions_path = './data/transactions.parquet'
description_path = './data/hack data description.xlsx'

# Read Data

In [4]:
df_transactions = pd.read_parquet(transactions_path)
df_clients = pd.read_csv(clients_path)
df_materials = pd.read_csv(materials_path)
df_plants = pd.read_csv(plants_path)

In [5]:
df_transactions.shape

(32109414, 9)

## Merge Tables

In [6]:
df_transactions = pd.merge(df_transactions, df_clients, on='client_id', how='outer')
df_transactions = pd.merge(df_transactions, df_materials, on='material', how='outer')
df_transactions = pd.merge(df_transactions, df_plants, on='plant', how='outer')

In [7]:
df_transactions.shape

(32109414, 21)

In [8]:
df_transactions.head()

,chq_id,plant,chq_date,chq_position,client_id,material,sales_count,sales_sum,is_promo,gender,...,birthyear,hier_level_1,hier_level_2,hier_level_3,hier_level_4,vendor,is_private_label,is_alco,plant_type,city_y
0,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,004,90fca68123e692a005a4edeadd94b2f2,232cfe8b28970434f685b737737b26d4,2.0,146.98,0,M,...,1957.0,FOOD,8e296a067a37563370ded05f5a3bf3ec,4e0223a87610176ef0d24ef6d2dcde3a,7b6ca9e5defffac176ccce54d800d4c6,a7f03c8242ae70012f1c0ebd8ad0b466,0.0,0.0,HM,St. Petersburg
1,b3d580621edab7d3831f18a958a4fb2c,7cd86ecb09aa48c6e620b340f6a74592,2016-11-09,014,90fca68123e692a005a4edeadd94b2f2,232cfe8b28970434f685b737737b26d4,1.0,73.49,0,M,...,1957.0,FOOD,8e296a067a37563370ded05f5a3bf3ec,4e0223a87610176ef0d24ef6d2dcde3a,7b6ca9e5defffac176ccce54d800d4c6,a7f03c8242ae70012f1c0ebd8ad0b466,0.0,0.0,HM,St. Petersburg
2,035909c0603067534edb2e4cb2be56d8,7cd86ecb09aa48c6e620b340f6a74592,2016-11-23,013,90fca68123e692a005a4edeadd94b2f2,232cfe8b28970434f685b737737b26d4,2.0,146.98,0,M,...,1957.0,FOOD,8e296a067a37563370ded05f5a3bf3ec,4e0223a87610176ef0d24ef6d2dcde3a,7b6ca9e5defffac176ccce54d800d4c6,a7f03c8242ae70012f1c0ebd8ad0b466,0.0,0.0,HM,St. Petersburg
3,0f49930b9e077a0c0ed8cc9c5f817995,7cd86ecb09aa48c6e620b340f6a74592,2017-01-27,013,90fca68123e692a005a4edeadd94b2f2,232cfe8b28970434f685b737737b26d4,1.0,73.49,0,M,...,1957.0,FOOD,8e296a067a37563370ded05f5a3bf3ec,4e0223a87610176ef0d24ef6d2dcde3a,7b6ca9e5defffac176ccce54d800d4c6,a7f03c8242ae70012f1c0ebd8ad0b466,0.0,0.0,HM,St. Petersburg
4,fce9129976a1017cab47f0d735dd4fcd,7cd86ecb09aa48c6e620b340f6a74592,2017-07-27,012,90fca68123e692a005a4edeadd94b2f2,232cfe8b28970434f685b737737b26d4,2.0,109.98,1,M,...,1957.0,FOOD,8e296a067a37563370ded05f5a3bf3ec,4e0223a87610176ef0d24ef6d2dcde3a,7b6ca9e5defffac176ccce54d800d4c6,a7f03c8242ae70012f1c0ebd8ad0b466,0.0,0.0,HM,St. Petersburg

# Analysis

In [17]:
# drop NaN's
df_transactions = df_transactions.dropna()

In [18]:
print('unique values')
for col in df_transactions.columns:
    print(col, ':', len(df_transactions[col].unique()))

unique values
chq_id : 2919820
plant : 388
chq_date : 366
chq_position : 459
client_id : 98091
material : 105463
sales_count : 9345
sales_sum : 172960
is_promo : 2
gender : 2
city_x : 3
birthyear : 107
hier_level_1 : 2
hier_level_2 : 60
hier_level_3 : 391
hier_level_4 : 2006
vendor : 4184
is_private_label : 2
is_alco : 2
plant_type : 2
city_y : 3

In [19]:
print('count values')
for col in df_transactions.columns:
    print('_'*25, col, '_'*25)
    print(df_transactions[col].value_counts())

count values
_________________________ chq_id _________________________
5d06e994d1c84b7c16bb50f61da8152a    244
be26faeae3ab7a98915c6c49387d57e4    225
43a3eb055a2cd3b44587a03db3204f4c    218
c68b39ff3a7f5210f17658c034a9d997    215
fc116312788e5800dcacc38c46619514    206
                                   ...
608e72f6a978db252fcc1e1a9b098373      1
4798b8bf3b2c941de3c8bffed45a368e      1
6e5674bc1967e8d885977cbeb37efc9a      1
94511f9533757b0e2370dfb149b35f33      1
5291bbaca48a5b681a1daaf94c467504      1
Name: chq_id, Length: 2919820, dtype: int64
_________________________ plant _________________________
95b09698fda1f64af16708ffb859eab9    431160
29549a71a57f587d88209b9c1f1b7999    390411
43692f46e3168b32434dd507ebc85dbe    285362
6950aac2d7932e1f1a4c3cf6ada1316e    275425
6858fb45a3d3aef7c29322d3b68dffd1    271872
                                     ...
fa6fd762eab57575a037d306299c6452       952
9bb8d911c34ecdb260ff39c4de70d8b6       826
8e811a108a578f67e0024f7980d07434       716
65471a23338bed5a76082980722fefe6       252
301bd17344eb5f9bc51f15c6cb91ae5b       108
Name: plant, Length: 388, dtype: int64
_________________________ chq_date _________________________
2017-04-04    199210
2017-04-03    196402
2017-04-02    179210
2017-06-11    147549
2017-03-19    144578
               ...
2017-05-31     57601
2017-04-14     57444
2017-01-31     56753
2017-07-25     53694
2017-04-06     30930
Name: chq_date, Length: 366, dtype: int64
_________________________ chq_position _________________________
001           2707362
002           2466297
003           2227828
004           2015912
005           1826551
               ...
0000000208          1
242                 1
0000000214          1
0000000204          1
229                 1
Name: chq_position, Length: 459, dtype: int64
_________________________ client_id _________________________
8689931b2883861645dfd5d071ab74db    8022
5e6bcea5aa0e8d4f35ff5e0bff0746f4    5693
922c0e613be5076020f67478293be6b7    5203
f87850206e8edd0dcef1a8c0dc4f3482    4668
d416680df44e2704f99b47c9db1a0586    4250
                                    ...
52e2774c103a94084ad4996edf237ff9       2
c9b7d8eccba135471de30d94a01577a9       2
a833ac7d025e909aaafc4c872ba40ba5       2
7f9f8569b22602ca1724dee2ed7f7459       2
d61eab52bc34b896834a01b2117668fd       2
Name: client_id, Length: 98091, dtype: int64
_________________________ material _________________________
b75147feae4cf8ec07fb5f2cef855def    682663
6278f48a43fb0a23036b3a11c92e726c    373273
3afa2c41341548499934a52d7338f33e    315271
142d63107737a448dc2dfe2dcd0154b8    247729
767aaeb00eb1c7dd273ba954b3e2f4b8    151015
                                     ...
de58ee3b2daa88d2a38da61fef8b583d         1
d0500c20af2bb1f24c1d20b97183323b         1
5f4c0ddbaed75a14811a7c5de37343e7         1
24dc2ca33169657b6603c8aadad7c85a         1
a3881e7a44b80377db5ce9ab735e2468         1
Name: material, Length: 105463, dtype: int64
_________________________ sales_count _________________________
 1.000      20522303
 2.000       3451594
 3.000        727153
 4.000        421682
 5.000        174369
              ...
-2.351             1
-1.838             1
-2.074             1
 291.000           1
-4.308             1
Name: sales_count, Length: 9345, dtype: int64
_________________________ sales_sum _________________________
 99.99      386164
 49.99      373710
 59.99      330244
 3.49       320613
 39.99      280762
             ...
 2027.52         1
 2043.98         1
-1064.25         1
 2042.98         1
 1079.62         1
Name: sales_sum, Length: 172960, dtype: int64
_________________________ is_promo _________________________
0    16310710
1    15306581
Name: is_promo, dtype: int64
_________________________ gender _________________________
F    18315080
M    13302211
Name: gender, dtype: int64
_________________________ city_x _________________________
Other             24101185
St. Petersburg     5840476
Moscow             1675630
Name: city_x, dtype: int64
_________________________ birthyear _________________________
1986.0    1023974
1987.0    1017785
1983.0    1010773
1984.0     988739
1985.0     983254
           ...
2019.0         80
2015.0         77
1909.0         74
1920.0         73
1921.0         14
Name: birthyear, Length: 107, dtype: int64
_________________________ hier_level_1 _________________________
FOOD       24994665
NONFOOD     6622626
Name: hier_level_1, dtype: int64
_________________________ hier_level_2 _________________________
8e296a067a37563370ded05f5a3bf3ec    2812976
d645920e395fedad7bbbed0eca3fe2e0    2362880
9bf31c7ff062936a96d3c8bd1f8f2ff3    2336245
6f4922f45568161a8cdf4ad2299f6d23    1623428
d67d8ab4f4c10bf22aa353e27879133c    1490358
1c383cd30b7c298ab50293adfecb7b18    1444805
c16a5320fa475530d9583c34fd356ef5    1411140
6c8349cc7260ae62e3b1396831a8398f    1370232
70efdf2ec9b086079795c442636b55fb    1183150
6364d3f0f495b6ab9dcf8d3b5c6e0b01    1152042
a5bfc9e07964f8dddeb95fc584cd965d    1059628
1ff1de774005f8da13f42943881c655f     910771
c74d97b01eae257e44aa9d5bade97baf     898793
a1d0c6e83f027327d8461063f4ac58a6     863231
33e75ff09dd601bbe69f351039152189     848918
6ea9ab1baa0efb9e19094440c317e21b     837566
c20ad4d76fe97759aa27a0c99bff6710     669530
17e62166fc8586dfa4d1bc0e1742c08b     626990
37693cfc748049e45d87b8c7d8b9aacd     580476
182be0c5cdcd5072bb1864cdee4d3d6e     563429
aab3238922bcc25a6f606eb525ffdc56     539464
a5771bce93e200c36f7cd9dfd0e5deaa     526383
19ca14e7ea6328a42e0eb13d585e4c22     502749
6512bd43d9caa6e02c990b0a82652dca     447445
d2ddea18f00665ce8623e36bd4e3c7c5     380243
ea5d2f1c4608232e07d3aa3d998e5135     355805
34173cb38f07f89ddbebc2ac9128303f     338895
642e92efb79421734881b53e1e1b18b6     300580
02e74f10e0327ad868d138f2b4fdd6f0     295282
4e732ced3463d06de0ca9a15b6153677     286050
67c6a1e7ce56d3d6fa748ab6d9af3fd7     260241
66f041e16a60928b05a7e228a89c3799     247556
f457c545a9ded88f18ecee47145a72c0     247546
f7177163c833dff4b38fc8d2872f1ec6     202971
3416a75f4cea9109507cacd8e2f2aefc     180331
d82c8d1619ad8176d665453cfb2e55f0     172208
c51ce410c124a10e0db5e4b97fc2af39     149230
03afdbd66e7929b125f8597834fa83a4     142365
e369853df766fa44e1ed0ff613f563bd     117319
7f39f8317fbdb1988ef4c628eba02591      97198
b6d767d2f8ed5d21a44b0e5886680cb9      90944
3295c76acbf4caaed33c36b1b5fc2cb1      84650
ad61ab143223efbc24c7d2583be69251      83903
fc490ca45c00b1249bbe3554a4fdf6fb      75767
093f65e080a295f8076b1c5722a46aa2      75268
72b32a1f754ba1c09b3695e0cb6cde7f      60330
44f683a84163b3523afe57c2e008bc8c      59697
9a1158154dfa42caddbd0694a4e9bdc8      40267
2838023a778dfaecdc212708f721b788      31800
072b030ba126b2f4b2374f342be9ed44      27517
14bfa6bb14875e45bba028a21ed38046      24223
735b90b4568125ed6c3f678819b6e058      22911
a684eceee76fc522773286a895bc8436      22184
1f0e3dad99908345f7439f8ffabdffc4      18618
9f61408e3afb633e50cdf1b20de6f466      18292
3c59dc048e8850243be8079a5c74d079      15261
c0c7c76d30bd3dcaefc96f40275bdc0a      13281
98f13708210194c475687be6106a3b84       7281
b53b3a3d6ab90ce0268229151c9bde11       4569
d9d4f495e875a2e075a1a4a6e1b9770f       4079
Name: hier_level_2, dtype: int64
_________________________ hier_level_3 _________________________
bd3ef5c19067fe179f71c8b86ea4b39b    1327721
7d265aa7147bd3913fb84c7963a209d1     717319
30aaf34d6afd4b11cc3b3ac4704c7908     672031
c559da2ba967eb820766939a658022c8     645977
7501e5d4da87ac39d782741cd794002d     584922
                                     ...
4ba29b9f9e5732ed33761840f4ba6c53         27
f2708856060b3b50379aeb13c54a563e         21
971eb27c6345932b82b70414028d7183          8
d630553e32ae21fb1a6df39c702d2c5c          4
3cfacd1beeeb00db3c2afc128dc13b7c          4
Name: hier_level_3, Length: 391, dtype: int64
_________________________ hier_level_4 _________________________
5bf563e8f99ed820f322704e4898df6b    1326220
65ce9a05680f7ff3339a68cc1eac2330     572276
91534231d73afa8f5765e15d83711a52     383910
96e0bececffda323c59ab5ff3751bf76     374487
3f6ab5dd77f73b11f122ac7c0fe2de76     301705
                                     ...
0617d23ff13775e17b695001b75eecb6          1
a1f4b424cb70fd72cfd80046b77eb4ce          1
53a8229920d539249d8420b6575608bc          1
89bff4115ddbf8d643b0700a7a2c4d0c          1
225b7278db3cd8ffbb028d998a44e8ab          1
Name: hier_level_4, Length: 2006, dtype: int64
_________________________ vendor _________________________

a3d2de7675556553a5f08e4c88d2c228    1716232
555b60081984bd59d637c5f6b4aa3bdb     997934
fecaff9801e3c7f766618422d1154957     742307
e938ab3bfceabc265c9a2276a3a176b6     712239
3cdd35521f057d08781df87795f2eb19     676840
                                     ...
d1f9c00995d7da67981473398800a35a          1
a93ec60f1fc341b4877ea03f6981cfa8          1
1427ea0c7932d458f6b4def495a0a4e8          1
c283a5a6d5657e63c0ee2360fc98d5c5          1
12b59177172b7e4b23f43bf4b9770113          1
Name: vendor, Length: 4184, dtype: int64
_________________________ is_private_label _________________________
0.0    25906528
1.0     5710763
Name: is_private_label, dtype: int64
_________________________ is_alco _________________________
0.0    30229450
1.0     1387841
Name: is_alco, dtype: int64
_________________________ plant_type _________________________
HM    28556464
SM     3060827
Name: plant_type, dtype: int64
_________________________ city_y _________________________
Other             24451710
St. Petersburg     5675729
Moscow             1489852
Name: city_y, dtype: int64